@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

/* Navigation Style */
.logo{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.logo img{
  border: 1px solid #4756df;
  border-radius: 50%;
}
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  background-color: #fcfcfc;
}
nav h1 {
  color: var(--primary-color);
  font-size: 25px;
}
nav a {
  color: var(--primary-color);
  transition: var(--transition);
  font-size: 20px;
  font-weight: var(--bold-font);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}
nav ul {
  display: flex;
  align-items: center;
  gap: 1.9rem;
}
.open-button {
  background-color: var(--secondary-color);
  color: white;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 14px;
}
.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* Front Display */
.main-title {
  max-width: 100%;
  height: 300px;
  background: radial-gradient(white, blue);
  text-align: center;
  padding: 4em 0;
  font-variant: small-caps;
  font-family: 'Rajdhani', sans-serif;
  font-size: clamp(0.8rem, calc(2vw + 1rem) , 2rem);
}

/* About Me */
.hero {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}
.bio {
  max-width: 50rem;
  padding: 1.5rem;
  border-radius: 6px;
  text-align: justify;
  margin-top: 3rem;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  border-top: 25px solid transparent;
	border-left: 40px solid #555;
  border-right: 40px solid #555;
	border-bottom: 25px solid transparent;
}
.bio-title{
  margin-bottom: 1.2rem;
  text-align: center;
  animation-name: h2;
  font-size: 36px;
  animation-duration: 3s;
}
.bio p {
  line-height: 2;
  padding: 0.3rem 0;
  animation: para 3s linear backwards;
  font-size: 17px;
}
@keyframes h2{
  from{transform:scale(0.1);}
  to{transform: scale(1.1);}
}
@keyframes para{
   from{transform: scale(0.1);}
   to{transform: scale(1);}
}
/* ----------------------- */

/* Skills */
.skills {
  margin: auto;
  margin-top: 4rem;
  background:#D4E6F9 ;
  border-radius: 100% 0 0 0;
}
.skill-header {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 35px;
}
.skills-wrapper img {
  padding: 1.25rem;
}
.first-set, .second-set{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16rem;
}
.icon {
  width: 10rem;
  height: 9rem;
  transform: scale(0.1);
  transition: 4s all ease;
}
.icon.active{
  transform: scale(1.1);
}
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 3px;
  margin: 20px;
  text-align: center;
  font-size: 15px;
}
/* ------------------------------- */

.projects {
  /* background-color: #ABB2B9; */
  padding: 52px 10px;
  margin-top: 0rem;
}
.project-pic {
  width: 100%;
  height: 50%;
}
.project-pic:hover{
  transform: scale(1.3);
  cursor: zoom-in;
  transition: 1s ease-in-out;
}
.projects-container {
  display: flex;
  align-items: center;
}
.projects-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 1rem;
  color: #4756df;
}
.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}
.project-container p {
  padding: 0.4rem;
}
.project-title {
  margin-bottom: var(--bottom-margin);
  margin-top: 1rem;
}
.project-details {
  margin-bottom: var(--bottom-margin);
}
.project-card {
  background-color:#ABB2B9;
  border-radius: 11px;
  padding: 25px 10px;
  margin: 10px;
  height: 25rem;
}
/* -------------------------------- */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  border: 3px solid #f1f1f1;
  z-index: 9;
  transform: translate(-50%, -50%);
}
/* Add styles to the form container */
.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: white;
}
/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
/* ------------------- */

footer {
  background-color: black;
  padding: 1.25rem;
  text-align: center;
  color: white;
}
.copy{
  margin-top: 10px;
}
/* -------------------------- */

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}
.up-arrow {
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 880px){
  .projects-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/
  nav {
    padding: 1rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 70.5px;
    right: 0;
    width: 50%;
    transform: translateX(300%);
    transition: transform 0.5s ease-in;
  }
   nav ul li {
    margin: 8px;
  }
  .burger-menu {
    display: block;
  }
  nav ul.show {
    transform: translateX(0);
  }
    /*------------------*/

  .hero {
    margin-top: 1rem;
    margin: 0 1rem;
  }
  .bio {
    border-top: 18px solid transparent;
    border-left: 23px solid #555;
    border-right: 23px solid #555;
    border-bottom: 18px solid transparent;
  }
  .bio-title{
    margin-bottom: 0.6rem;
    font-size: 26px;
  }
  .bio p {
    line-height: 1.5;
    padding: 0.3rem 0;
  }
   /* ------------ */

  .icon {
    width: 9rem;
    height: 8rem;
  }
  .first-set, .second-set{
    gap: 7rem;
  }
  .skills-wrapper img {
    padding: 0.55rem;
  }

  .projects-container {
    flex-direction: column;
  }
  .project-container {
    width: 20.875rem;
  }
  .projects-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 460px) {
  .bio {
    padding: 0 0.3rem;
    text-align: start;
    border-top: 16px solid transparent;
    border-left: 20px solid #555;
    border-right: 20px solid #555;
    border-bottom: 16px solid transparent;
  }
   /* ------------ */
  
  .icon {
    width: 5rem;
    height: 4rem;
  }
  .first-set, .second-set{
    gap: 1.5rem;
  }
  .skills-wrapper img {
    padding: 0.25rem;
  }
  .project-container {
    width: 17.875rem;
  }
  .projects-title {
    font-size: 20px;
  }
} 
html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}
body {
  font-family: var(--font-family);
}
