*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(100deg, red,green);
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
    border: 2px solid black;
    border-left: none;
    background-color: white;
}
nav ul li{
    padding: 20px;
    
}
nav ul li a{
    text-decoration: none;
    margin: 10px;
    font-size: 30px;
    color: black;
}
nav ul li a:hover{
    color: red;
}
main{
    position: absolute;
    top: 45%;
    width: 100%;
}
main .left-column{
    margin-left: 11%;
    font-size: 50px;
    color: white;
}
main .right-column{
    display: flex;
    float: right;
    margin-right: 20%;
    margin-top: -5%;
    font-size: 25px;
}

@media screen and (max-width:700px){
    nav ul li{
        padding: 10px;  
    }
    nav ul li a{
        text-decoration: none;
        margin: 5px;
        font-size: 20px;
        color: black;
    }
    main .left-column{
        margin-left: 7%;
        font-size: 35px;
        color: white;
    }
    main .right-column{
        display: flex;
        float: right;
        margin-right: 5%;
        margin-top: -8%;
        font-size: 15px;
    }
}
@media screen and (max-width:420px){
    nav ul li{
        padding: 5px;  
    }
    nav ul li a{
        text-decoration: none;
        margin: 3px;
        font-size: 10px;
        color: black;
    }
    main .left-column{
        margin-left: 4%;
        font-size: 20px;
        color: white;
    }
    main .right-column{
        display: flex;
        float: right;
        margin-right: 2%;
        margin-top: -12%;
        font-size: 10px;
    }
}